<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
{% extends 'base.html' %}  
{% block content %} 
<html>
   
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Welcome to Home Page, {{name}}</h1>
        <h2>This is the full home page</h2>
        <div class="container">
            <form action="">
                <div class="mb-3">
                    <label for="searchMovie" class="form-label">
                        Search for movie:
                    </label>
                    <input type="text" class="form-control" name="searchMovie">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>    
            <p>
                <p>Searching for {{searchTerm}}</p>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for movie in movies %}
                    <div v-for="movie in movies" class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ movie.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.title}}</h5>
                                <p class="card-text">{{ movie.description}}</p>
                                <p class="card-genre">{{ movie.genre}}</p>
                                <p class="card-year">{{ movie.year}}</p>
                                
                                {% if movie.url %}
                                    <a href="{{ movie.url }}" class="btn btn-primary">Movie link</a>
                                {% endif %}    
                            </div>
                        </div> 
                    </div>        
                    {% endfor %}
                <br/>  
                </div>  
                <!--{% for movie in movies %}
                    <h2>{{ movie.title}}</h2>
                    <h3>{{ movie.description}}</h3>
                    <img src="{{ movie.image.url}}">
                    {% if movie.url %}
                        <a href="{{ movie.url }}"> Movie link</a>
                    {% endif %}
                {% endfor %}-->
            </p>
        </div>
        <script src="" async defer></script>
    </body>
    
</html>
{% endblock content %}